body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: white;
    background-color: #849d8f;
}

.container {
    width: 1046px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.slider input[type="radio"] {
    display: none;
}

.slider-inner {
    overflow: hidden;
}

.slider-slides {
    width: 300%;
}

.slider-slides img {
    float: left;
    width: 1045px;
    height: 881px;
}

.slider-controls {
    margin-bottom: 10px;
    text-align: left;
}

.slider-controls label {
    display: inline-block;
    margin: 0 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    border: 3px solid white;
    background-color: #849d8f;
    transition: background-color 0.2s;
}

#btn-1:checked~.slider-controls label[for="btn-1"],
#btn-2:checked~.slider-controls label[for="btn-2"],
#btn-3:checked~.slider-controls label[for="btn-3"] {
    background-color: #ffffff;
}

#btn-1:checked~.slider-inner .slider-slides {
    transform: translate(0);
}

#btn-2:checked~.slider-inner .slider-slides {
    transform: translate(-1045px);
}

#btn-3:checked~.slider-inner .slider-slides {
    transform: translate(-2090px);
}

.offer-raspberry {
    padding: 10px;
    background: #849d8f url("img/bg-razz.jpg");
    width: 560px;
    height: 200px;
    border-radius: 10px;
}

.offer-chocolate {
    padding: 10px;
    background: #849d8f url("img/bg-chocolate.jpg");
    width: 560px;
    height: 200px;
    border-radius: 10px;
}

.hit-list-item img {
    border-radius: 50%;
}

.features {
    padding: 10px;
    background: url("img/wafer-bg-pattern.jpg");
    color: black;
    border-radius: 10px;
}

.features-lead {
    padding: 10px;
    font-weight: 700;
}

.button {
    padding: 10px;
    background-color: coral;
    color: white;
    border-radius: 10px;
}

.blog {
    padding: 10px;
    background: url('img/bg-ice-cream.jpg');
    width: 560px;
    height: 200px;
    border-radius: 10px;
}

.subscribe {
    padding: 30px;
    margin: 25px;
    color: black;
    width: 560px;
    height: 200px;
    background: #e4e3e2 url("img/bg-letter-pattern.png") repeat;
    border-radius: 15px;
}

.subscribe div {
    position: relative;
    bottom: 30px;
    right: 30px;
    margin: 5px;
    padding: 30px;
    width: 550px;
    height: 190px;
    border-radius: 25px;
    background: rgb(221, 218, 214);
}


/* .container {
    width: 1046px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.slider input[type="radio"] {
    display: none;
}

.slider-inner {
    overflow: hidden;
}

.slider-slides {
    width: 300%;
}

.slider-slides img {
    float: left;
    width: 1045px;
    height: 881px;
}

.slider-controls {
    margin-bottom: 10px;
    margin-top: -100px;
    text-align: left;
}

.slider-controls label {
    display: inline-block;
    margin: 0 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    border: 4px solid white;
    background-color: #cbe0bd;
    transition: background-color 0.2s;
}

#btn-1:checked~.slider-controls label[for="btn-1"],
#btn-2:checked~.slider-controls label[for="btn-2"],
#btn-3:checked~.slider-controls label[for="btn-3"] {
    background-color: #ffffff;
}

#btn-1:checked~.slider-inner .slider-slides {
    transform: translate(0);
}

#btn-2:checked~.slider-inner .slider-slides {
    transform: translate(-1045px);
}

#btn-3:checked~.slider-inner .slider-slides {
    transform: translate(-2090px);
} */