body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: white;
    background-color: #849d8f;
}

.container {
    width: 1046px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.slider input[type="radio"] {
    display: none;
}

.slider-inner {
    overflow: hidden;
}

.slider-slides {
    width: 300%;
}

.slider-slides img {
    float: left;
    width: 1045px;
    height: 881px;
}

.slider-controls {
    margin-bottom: 10px;
    text-align: left;
}

.slider-controls label {
    display: inline-block;
    margin: 0 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    border: 3px solid white;
    background-color: #849d8f;
    transition: background-color 0.2s;
}

#btn-1:checked~.slider-controls label[for="btn-1"],
#btn-2:checked~.slider-controls label[for="btn-2"],
#btn-3:checked~.slider-controls label[for="btn-3"] {
    background-color: #ffffff;
}

#btn-1:checked~.slider-inner .slider-slides {
    transform: translate(0);
}

#btn-2:checked~.slider-inner .slider-slides {
    transform: translate(-1045px);
}

#btn-3:checked~.slider-inner .slider-slides {
    transform: translate(-2090px);
}

.offers div {
    margin: 25px;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    width: 510px;
    height: 170px;
    border-radius: 25px;
}

.offers h3+p {
    width: auto;
    height: 50px;
}

.offer-raspberry {
    width: auto;
    background: #849d8f url("img/bg-razz.jpg");
}

.offer-chocolate {
    background: #849d8f url("img/bg-chocolate.jpg");
}

.hit-list-item img {
    border-radius: 50%;
}

.features {
    padding: 10px;
    background: url("img/wafer-bg-pattern.jpg");
    color: black;
    border-radius: 10px;
}

.features-lead {
    padding: 10px;
    font-weight: 700;
}

.button {
    margin: 5px;
    padding: 10px;
    background-color: coral;
    color: white;
    border-radius: 10px;
}

.blog {
    margin: 30px;
    padding: 25px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    background: url('img/bg-ice-cream.jpg');
    width: 510px;
    height: 170px;
    border-radius: 25px;
}

.blog .article-header {
    font-size: 15px;
    font-weight: 400;
}

.blog a {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
    color: black;
}

.blog p {
    margin-right: 250px;
}

.blog a:hover {
    color: rgb(247, 64, 18);
}

.subscribe {
    padding: 30px;
    margin: 25px;
    color: black;
    width: 510px;
    height: 170px;
    background: #e4e3e2 url("img/bg-letter-pattern.png") repeat;
    border-radius: 15px;
}
/* Проверить позишн, писался до изучения темы!
 */
.subscribe div {
    position: relative;
    bottom: 30px;
    right: 30px;
    margin: 5px;
    padding: 30px;
    width: 500px;
    height: 160px;
    border-radius: 25px;
    background: white;
}
